[submodule "42-Piscine-C"]
	path = 42-Piscine-C
	url = git@github.com:lboulang42/42-Piscine-C.git
[submodule "42-ft_printf"]
	path = 42-ft_printf
	url = git@github.com:lboulang42/42-ft_printf.git
[submodule "42-get_next_line"]
	path = 42-get_next_line
	url = git@github.com:lboulang42/42-get_next_line.git
