[submodule "42-Piscine-C"]
	path = 42-Piscine-C
	url = git@github.com:lboulang42/42-Piscine-C.git
[submodule "42-ft_printf"]
	path = 42-ft_printf
	url = git@github.com:lboulang42/42-ft_printf.git
[submodule "42-get_next_line"]
	path = 42-get_next_line
	url = git@github.com:lboulang42/42-get_next_line.git
[submodule "42-pipex"]
	path = 42-pipex
	url = git@github.com:lboulang42/42-pipex.git
[submodule "42-so_long"]
	path = 42-so_long
	url = git@github.com:lboulang42/42-so_long.git
[submodule "42-push_swap"]
	path = 42-push_swap
	url = git@github.com:lboulang42/42-push_swap.git
[submodule "42-Minishell"]
	path = 42-Minishell
	url = git@github.com-lboulang42:lboulang42/42-Minishell.git
[submodule "42-philosophers"]
	path = 42-philosophers
	url = git@github.com:lboulang42/42-philosophers.git
[submodule "42-Cub3D"]
	path = 42-Cub3D
	url = git@github.com:lboulang42/42-Cub3D.git
